* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.container {
    max-width: 1560px;
}

/* ayon paul start / 13.06.2024 */

.dd_files_innr img {
    width: 7rem;
    margin-top: 5rem;
}

#drop-area {
    background: transparent;
    border: 2px solid red;
    width: 50rem;
    height: 30rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.dd_files_innr p {
    font-weight: 600;
    text-transform: capitalize;
}

.dd_files_innr span {
    text-transform: capitalize;
}

#img-view {
    width: 94%;
    height: 90%;
    border-radius: 20px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}