* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.container {
    max-width: 1560px;
}

/* ayon paul start / 10.06.2024 */

.white_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.dragging_ottr {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-block: 26%;
}

.hold {
    border: 2px solid red;
    border-radius: 100%;
}

.hide {
    display: none;
}
.dashed{
    background: violet;
    border-style: dashed;
}